/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(css/animate.min.css);
@import url(css/normalize.css);
@import url(css/icomoon.css);
@import url(css/font-awesome.min.css);
@import url(css/meanmenu.css);
@import url(css/owl.carousel.min.css);
@import url(css/swiper.min.css);
@import url(css/slick.css);
@import url(css/jquery.fancybox.min.css);
@import url(css/jquery-ui.css);
@import url(css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Open Sans, sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}


h2 {
     font-family: Arbutus Slab, serif;
     font-weight: bold;
     color: #000;
     line-height: 1.25;
}
   

h1,
h3,
h4,
h5,
h6 {
     
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: 1.25;
     color: #000;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 24px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {  
     position: relative;
     margin: 0px;
     font-weight: 500;
     font-size: 14px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/


/*-- navigation--*/

.navigation.navbar {
     float: right;
     background: #fff;
     clear: both;
     padding: 50px 50px !important;
     border-radius: 64px;
     color: #070404;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 20px;
     color: #070404;
     font-size: 17px;
     line-height: 20px;
     font-weight: 500;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #2255FF;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #2255FF;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.login_btn a {
     background: #2255FF;
     padding: 9px 32px !important;
     display: inline;
     border-radius: 20px;
     color: #fff !important;
     margin: 0 10px;
}

.login_btn a:hover {
     background: #000 !important;
}

.sea_icon a {
     color: #8c8c8c !important;
}

.header {
     width: 100%;
     padding: 30px 30px;
     background: transparent;
     position: absolute;
     z-index: 999;
     
}

.logo {
     padding-top: 14px;
}


/** banner section **/

 /*************footer End*****************/
.new_footer_area {
     background: #fbfbfd;
 }
 
 
 .new_footer_top {
     padding: 120px 0px 270px;
     position: relative;
       overflow-x: hidden;
 }
 .new_footer_area .footer_bottom {
     padding-top: 5px;
     padding-bottom: 50px;
 }
 .footer_bottom {
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     color: #7f88a6;
     padding: 27px 0px;
 }
 .new_footer_top .company_widget p {
     font-size: 16px;
     font-weight: 300;
     line-height: 28px;
     color: #6a7695;
     margin-bottom: 20px;
 }
 .new_footer_top .company_widget .f_subscribe_two .btn_get {
     border-width: 1px;
     margin-top: 20px;
 }
 .btn_get_two:hover {
     background: transparent;
     color: #5e2ced;
 }
 .btn_get:hover {
     color: #fff;
     background: #6754e2;
     border-color: #6754e2;
     -webkit-box-shadow: none;
     box-shadow: none;
 }
 a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
     text-decoration: none;
     outline: none;
 }
 
 
 
 .new_footer_top .f_widget.about-widget .f_list li a:hover {
     color: #5e2ced;
 }
 .new_footer_top .f_widget.about-widget .f_list li {
     margin-bottom: 11px;
 }
 .f_widget.about-widget .f_list li:last-child {
     margin-bottom: 0px;
 }
 .f_widget.about-widget .f_list li {
     margin-bottom: 15px;
 }
 .f_widget.about-widget .f_list {
     margin-bottom: 0px;
 }
 .new_footer_top .f_social_icon a {
     width: 44px;
     height: 44px;
     line-height: 43px;
     background: transparent;
     border: 1px solid #e2e2eb;
     font-size: 24px;
 }
 .f_social_icon a {
     width: 46px;
     height: 46px;
     border-radius: 50%;
     font-size: 14px;
     line-height: 45px;
     color: #858da8;
     display: inline-block;
     background: #ebeef5;
     text-align: center;
     -webkit-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
 }
 .ti-facebook:before {
     content: "\e741";
 }
 .ti-twitter-alt:before {
     content: "\e74b";
 }
 .ti-vimeo-alt:before {
     content: "\e74a";
 }
 .ti-pinterest:before {
     content: "\e731";
 }
 
 .btn_get_two {
     -webkit-box-shadow: none;
     box-shadow: none;
     background: #5e2ced;
     border-color: #5e2ced;
     color: #fff;
 }
 
 .btn_get_two:hover {
     background: transparent;
     color: #5e2ced;
 }
 
 .new_footer_top .f_social_icon a:hover {
     background: #5e2ced;
     border-color: #5e2ced;
   color:white;
 }
 .new_footer_top .f_social_icon a + a {
     margin-left: 4px;
 }
 .new_footer_top .f-title {
     margin-bottom: 30px;
     color: #263b5e;
 }
 .f_600 {
     font-weight: 600;
 }
 .f_size_18 {
     font-size: 18px;
 }
 h1, h2, h3, h4, h5, h6 {
     color: #4b505e;
 }
 .new_footer_top .f_widget.about-widget .f_list li a {
     color: #6a7695;
 }
 
 
 .new_footer_top .footer_bg {
     position: absolute;
     bottom: 0;
     background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
     width: 100%;
     height: 266px;
 }
 
 .new_footer_top .footer_bg .footer_bg_one {
     background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
     width: 330px;
     height: 105px;
   background-size:100%;
     position: absolute;
     bottom: 0;
     left: 30%;
     -webkit-animation: myfirst 22s linear infinite;
     animation: myfirst 22s linear infinite;
 }
 
 .new_footer_top .footer_bg .footer_bg_two {
     background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
     width: 88px;
     height: 100px;
   background-size:100%;
     bottom: 0;
     left: 38%;
     position: absolute;
     -webkit-animation: myfirst 30s linear infinite;
     animation: myfirst 30s linear infinite;
 }
 
 
 
 @-moz-keyframes myfirst {
   0% {
     left: -25%;
   }
   100% {
     left: 100%;
   }
 }
 
 @-webkit-keyframes myfirst {
   0% {
     left: -25%;
   }
   100% {
     left: 100%;
   }
 }
 
 @keyframes myfirst {
   0% {
     left: -25%;
   }
   100% {
     left: 100%;
   }
 }
 
 /*************footer End*****************/



.banner_main {
     background: #f5f6f6;
     padding: 198px 0px 90px 0px;
}

.text-bg {
     text-align: center;
}

.text-bg h1 {
     color: #070404;
     font-size: 60px;
     line-height: 76px;
     padding-bottom: 45px;
     font-weight: bold;
     text-transform: uppercase;
}

.text-bg .read_more {
     border: #1a1a1a solid 2px;
     color: #1a1a1a !important;
     font-weight: 500;
     display: block;
     margin: 0 auto;
     margin-top: 44px;
}

#banner1 .carousel-caption {
     position: inherit;
     padding: 0;
}

#banner1 .carousel-indicators {
     display: none;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
     width: 62px;
     height: 60px;
     background: transparent;
     border: #1a1a1a solid 2px;
     opacity: 1;
     font-size: 30px;
     color: #131215;
     border-radius: 60px;
     top: 43%;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
     background: transparent;
     border: #2255FF solid 2px;
     color: #2255FF;
}

#banner1 a.carousel-control-prev {
     position: absolute;
     left: 20px;
     bottom: 10px;
}

#banner1 a.carousel-control-next {
     position: absolute;
     right: 20px;
     bottom: 10px;
}


/** end banner section **/

.titlepage h2 {
     font-size: 35px;
     color: #2a2a2c;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: transparent;
     border: #ffffff solid 2px;
     color: #1a1a1a;
     padding: 15px 0px;
     width: 100%;
     max-width: 222px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     border-radius: 40px;
}

.read_more:hover {
     background: #2255FF;
     color: #fff !important;
     transition: ease-in all 0.5s;
}





/** start why **/
.container-why {
     max-width: 900px;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
     grid-gap: 48px;
     margin: 0 auto;
     padding: 5%;
   }
   
   .card {
     cursor: pointer;
     position: relative;
     height: 0;
     padding-bottom: 100%;
     --offset-multiplier: 4px;
     transition: transform 0.6s ease;
     --translate: 0;
     transform: translate(var(--translate), var(--translate));
   }
   .card:hover {
     --offset-multiplier: 6px;
   }
   .card:hover {
     --translate: calc(-1px * (var(--cards) - 1));
     transition: transform 0.3s ease;
   }
   
   .child {
     position: absolute;
     width: 100%;
     height: 100%;
     padding: 0 16px;
     box-sizing: border-box;
     background: #fff;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(255, 255, 255, 0.8);
     border-radius: 6px;
     transition: inherit;
     --translate: calc(var(--offset) * var(--offset-multiplier));
     transform: translate(var(--translate), var(--translate));
     z-index: 5;
   }
   .child:nth-child(1) {
     --offset: 0;
     z-index: 4;
   }
   .child:nth-child(2) {
     --offset: 1;
     z-index: 3;
   }
   .child:nth-child(3) {
     --offset: 2;
     z-index: 2;
   }
   .child:nth-child(4) {
     --offset: 3;
     z-index: 1;
   }
   .child:nth-child(5) {
     --offset: 4;
     z-index: 0;
   }
/** end why **/







/** footer **/

.footer {
     background: #252525;
     padding-top: 90px;
     text-align: center;
     font-family: 'Roboto', sans-serif;
}

ul.location_icon {
     text-align: center;
}

ul.location_icon li {
     display: inline-block;
     font-size: 17px;
     line-height: 20px;
     color: #fff;
     text-align: center;
     padding: 0 40px;
}

ul.location_icon li a {
     font-size: 40px;
     color: #fff;
     line-height: 30px;
     display: block;
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background: #fbfdfd;
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
}

.copyright a {
     color: #292929;
}

.copyright a:hover {
     color: #2255FF;
}


/** end footer **/


/** inner page css **/

.position_head .header {
     position: inherit;
     background: #F5F6F6;
}

.position_head .glasses,
.shop {
     margin-bottom: 90px;
}